@*@model FMI_web.Pages.Shared._HeaderModel*@

<nav>
    <div class="webname">
        <a asp-page="Index">
            <img src="~/icons/fmi_logo.png" />
            Факультет математики та інформатики
        </a>
    </div>
    <ul class="mainnav">
        @*Site menu*@
        <li class="hassubs">
            Освітня діяльність
            <ul class="dropdown">
                <li class="subs"><a href="/">Перелік заліків</a></li>
                <li class="subs hassubs">
                    <span>Заочна форма навчання</span>
                    <img src="~/icons/next.svg" />
                    <ul class="dropdown">
                        <li class="subs hassubs">
                            <span>Розклади навчання</span>
                            <img src="~/icons/next.svg" />
                            <ul class="dropdown">
                                <li class="subs"><span>Літня сесія</span></li>
                                <li class="subs"><span>Зимова сесія</span></li>
                                <li class="subs"><span>Настановча сесія</span></li>
                            </ul>
                        </li>
                        <li class="subs"><span>Графік навчального процесу</span></li>
                    </ul>
                </li>
                <li class="subs"><span>Розклад екзаменів</span></li>
            </ul>
        </li>
        <li>Про факультет</li>
        <li>Абітурієнту</li>
        <li>
            Кафедри

        </li>
        <li>Онлайн розклад</li>
    </ul>
    <div class="searchlog">
        @*Site search and login*@
        <button><img src="~/icons/search.svg" class="icon search" alt="search" /></button>
        <button><img src="~/icons/login.svg" class="icon" alt="login" /></button>
    </div>
</nav>