@model FMI_web.Pages.Shared._HeaderModel
@{
}

<nav>
    <div class="webname">
        <a asp-page="Index">
            <img src="~/icons/fmi_logo.png" alt="fmi_logo" />
            <span>Факультет математики та інформатики</span>
        </a>
    </div>
    <ul class="mainnav" id="menu">
        <li class="menuItem">
            <span>Освітня діяльність</span>
            <img class="mobile" src="~/icons/next.svg" />
            <div class="wrapper nondisplay">
                <ul>
                    @Model.GenerateMenuMain("osvitnya_diyalnist")
                </ul>
            </div>
        </li>
        <li><span>Про факультет</span></li>
        <li><span>Абітурієнту</span></li>
        <li><span>Кафедри</span></li>
        <li><span>Онлайн розклад</span></li>
    </ul>
    <div class="searchlog">
        <button><img src="~/icons/search.svg" class="icon search" alt="search" /></button>
        <button><img src="~/icons/login.svg" class="icon" alt="login" /></button>
        <button><img src="~/icons/news.svg" class="icon mobile" alt="news" onclick="toggleNews()" /></button>
        <button><img src="~/icons/menu.svg" class="icon mobile" alt="menu" onclick="toggleMenu()" /></button>
    </div>
</nav>