<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Факультет математики та інформатики</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
        <link href="~/css/reset.css" rel="stylesheet" />
        <link href="~/css/header.css" rel="stylesheet" />
        <link href="~/css/dropdown_menu.css" rel="stylesheet" />
        <link href="~/css/content.css" rel="stylesheet" />
        <link href="~/css/sidebar.css" rel="stylesheet" />
        <link href="~/css/footer.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <partial name="_Header" model="new _HeaderModel()" />
        <div class="content">
            @RenderBody()
            <partial name="_Sidebar" model="new _SidebarModel()" />
        </div>
        <partial name="_Footer" />
    </body>
    <script src="~/js/dropdown.js"></script>
    <script src="~/js/out_of_screen.js"></script>
    <script src="~/js/mobile_menu.js"></script>
</html>