@page
@model FMI_web.Pages.Shared._SidebarModel
@{
}

<aside id="news">
    <div>
        <a><img src="~/img/normal.jpg" /></a>
        <a><span>Турнір з програмування</span></a>
        <span class="text">
            Обласний науковий ліцей в м. Рівне запрошує учнів, студентів, вчителів, викладачів та усіх охочих проявити свої вміння з алгоритмічного...
        </span>
        <span class="tag">Новини</span>
        <span class="date">10 вересня 2022</span>
    </div>
    <div>
        <a><img src="~/img/normal.jpg" /></a>
        <a><span>Турнір з програмування</span></a>
        <span class="text">
            Обласний науковий ліцей в м. Рівне запрошує учнів, студентів, вчителів, викладачів та усіх охочих проявити свої вміння з алгоритмічного...
        </span>
        <span class="tag">Новини</span>
        <span class="date">10 вересня 2022</span>
    </div>
    <div>
        <a><img src="~/img/normal.jpg" /></a>
        <a><span>Турнір з програмування</span></a>
        <span class="text">
            Обласний науковий ліцей в м. Рівне запрошує учнів, студентів, вчителів, викладачів та усіх охочих проявити свої вміння з алгоритмічного...
        </span>
        <span class="tag">Новини</span>
        <span class="date">10 вересня 2022</span>
    </div>
</aside>