main > div, main span {
    margin: 0 1% 1% 1%;
}
main img {
    display: block;
    margin: 1% auto;
}
main h1 {
    font-size: 35px;
    margin-bottom: 2%;
}
main u {
    text-decoration-line: underline;
}
main b {
    font-weight: bold;
}
main i {
    font-style: italic;
}
main a {
    cursor: pointer;
    color: darkblue;
    border-bottom: 1px solid none;
}
label {
    display: block;
}
main input[type=text], form > div, main select {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.2% 1%;
    margin-bottom: 2%;
}
main input[type=submit] {
    display: block;
    color: white;
    background-color: #0082e6;
    padding: 1%;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: linear background-color 0.2s;
    -moz-transition: linear background-color 0.2s;
    -o-transition: linear background-color 0.2s;
    transition: linear background-color 0.2s;
}
main input[type=submit]:hover, main button:hover, #imageButton:hover {
    background-color: #3e9be2;
	-webkit-transition: linear background-color 0.2s;
    -moz-transition: linear background-color 0.2s;
    -o-transition: linear background-color 0.2s;
    transition: linear background-color 0.2s;
}
main button, #imageButton {
    display: inline-block;
    color: white;
    background-color: #0082e6;
    padding: 0.5%;
    margin-bottom: 1%;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: linear background-color 0.2s;
    -moz-transition: linear background-color 0.2s;
    -o-transition: linear background-color 0.2s;
    transition: linear background-color 0.2s;
}
.hidden {
    display: none;
}
.display {
    display: block !important;
}
.contentEditor {
    border: none !important;
    padding: 0 !important;
}
.contentEditor > div {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.5% 1%;
}
.newsfacultlist > a {
    color: black;
    display: block;
    font-weight: bold;
    padding: 2% 0;
    font-size: 20px;
    cursor: pointer;
}
.newsfacultlist > a:hover {
    border: none;
}
.text {
    display: block;
    margin-bottom: 4%;
}
.tag {
    display: inline-block;
    color: white;
    background-color: green;
    padding: 1%;
    border-radius: 5px;
}
.date {
    margin-top: 4%;
    display: block;
    font-size: 20px;
    color: gray;
}
.pageSelector {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pageSelector > a {
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: lightgray;
    padding: 1%;

}
.pageSelector > a:hover {
    color: black;
    border: 1px solid gray;
}
.editTools {
    position: fixed;
    top: 85px;
    width: 100%;
    left: 0;
    background-color: white;
}
#errorMessage {
    display: block;
    color: red;
}
#imageInput {
    display: none;
}
@media only screen and (max-width: 939px) {
main {
    background-color: white;
    width: 100%;
    margin: 1.5% 0;
    padding: 4% 2%;
    border: 1px solid #b6b6b6;
    border-radius: 16px;
    font-size: 17px;
    min-height: 750px;
    line-height: 30px;
}
main ul > li {
    margin: 0% 0% 1% 6%;
    list-style-type: circle;
}
main ol > li {
    margin: 0% 0% 1% 4%;
    list-style-type: decimal;
}
.newsfacultlist {
    padding: 1%;
    border: 1px solid gray;
    border-radius: 15px;
    display: block;
}
.pageSelector a {
    margin-top: 5%;
    width: 25%;
    text-align: center;
}
}
@media only screen and (min-width: 940px) {
main {
    background-color: white;
    width: 70%;
    margin: 1.5%;
    padding: 1.5%;
    border: 1px solid #b6b6b6;
    border-radius: 16px;
    font-size: 17px;
    line-height: 21px;
}
main ul > li {
    margin: 0% 0% 1% 2%;
    list-style-type: circle;
}
main ol > li {
    margin: 0% 0% 1% 2%;
    list-style-type: decimal;
}
main a:hover {
    border-bottom: 1px solid darkblue;
}
.newsfacultlist {
    display: inline-block;
    padding: 1%;
    margin: 1%;
    border: 1px solid gray;
    border-radius: 15px;
    display: inline-block;
    width: 30%;
    height: auto;
}
.newsfacultlist img {
    max-height: 10vw;
}
}