.mainnav ul {
	overflow-x: hidden;
	overflow-y: auto;
}

.mainnav li {
	position: static;
	background-color: #0082e6;
	cursor: default;
}

.mainnav li > .wrapper {
	position: absolute;
	top: 80px;
	z-index: 10;
	display: none;
}

.mainnav li:hover > .wrapper {
	display: flex;
	max-height: 15vw;
}

.mainnav li:hover > .wrapper > ul > li:hover > .wrapper {
	display: flex;
	height: 100%;
}

.mainnav li:hover > .wrapper > ul > li > .wrapper > ul > li:hover > .wrapper {
	display: flex;
	height: 100%;
}

.mainnav li .wrapper li {
	padding: 4%;
	width: 200px;
}

.mainnav li .wrapper li:hover
{
	background-color: #3e9be2;
	transition: linear 0.2s;
}

.mirror {
	margin-left: -401px;
}

.parent {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.parent > span, .parent > a {
	float: left;
	height: 100%;
	width: 95%;
}

.parent > img {
	float: right;
	max-width: 18px;
	height: 100%;
	vertical-align: middle;
	float: right;
	transition: all 0.3s;
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

.parent:hover > img {
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}