@page
@model IndexModel
@{

}
    <nav> @*Site nav*@
    <div class="webname">
        <a asp-page="Index">
            <img src="~/icons/fmi_logo.png" />
            Факультет математики та інформатики
        </a>
    </div>
    <ul class="mainnav" onmouseover="giveMirror()">
        @*Site menu*@
        <li>
            Освітня діяльність
            <div class="wrapper">
                <ul>
                    <li><a href="/">Перелік заліків</a></li>
                    <li class="parent">
                        <span>Заочна форма навчання</span>
                        <img src="~/icons/next.svg" />
                        <div class="wrapper">
                            <ul>
                                <li class="parent">
                                    <span>Розклади навчання</span>
                                    <img src="~/icons/next.svg" />
                                    <div class="wrapper">
                                        <ul>
                                            <li><span>Літня сесія</span></li>
                                            <li><span>Зимова сесія</span></li>
                                            <li><span>Настановча сесія</span></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><span>Графік навчального процесу</span></li>
                            </ul>
                        </div>
                    </li>
                    <li><span>Розклад екзаменів</span></li>
                    <li><span>Робочі навчальні плани</span></li>
                </ul>
            </div>
        </li>
        <li>Про факультет</li>
        <li>Абітурієнту</li>
        <li>Кафедри</li>
        <li>Онлайн розклад</li>
    </ul>
    <div class="searchlog">
        @*Site search and login*@
        <button><img src="~/icons/search.svg" class="icon search" alt="search" /></button>
        <button><img src="~/icons/login.svg" class="icon" alt="login" /></button>
    </div>
    </nav>
    <div class="content">
        <main>
            @*Site content*@
            <p>Запрошуємо на веб-сайт факультету математики та інформатики!</p>
            <p>Факультет математики та інформатики правонаступник фізико-математичного факультету, який нерозривно пов’язаний з початком функціонування на Ровенщині першого найстарішого вищого навчального закладу – Учительського інституту, відкритого у березні 1940 року і 75 річчя якого було у 2015 році. Інститут мав три факультети – історичний, фізико-математичний і мовно-літературний. Навчальні плани і програми були розраховані на підготовку протягом двох років учителів для нової радянської школи. У зв’язку з Великою Вітчизняною війною навчання в інституті було перервано.</p>
            <p>Відразу після визволення міста з-під фашистської окупації інститут відновив роботу. На двох факультетах стаціонарного відділення – фізико-математичному та мовно-літературному – розпочали навчання 179 студентів. Працювало тоді в інституті 17 штатних викладачів.</p>
            <p>У 1945 році Учительський інститут закінчило 16 студентів. Це був перший випуск. Через чотири роки контингент студентів зріс до 316 чоловік, а з 1944 по 1953 рік стаціонарне відділення Учительського інституту закінчило 1367, заочне – 1167 чоловік.</p>
            <p>У 1953 році Ровенський державний учительський інститут був реорганізований у педагогічний з двома факультетами – фізико-математичним і філологічним.</p>
            <p>Враховуючи світові тенденції щодо втілення інформаційних технологій у життя суспільства було прийнято рішення, у 1992 році, про виділення з фізико-математичного факультету - факультету математики та інформатики. Йому передали кафедри математики з методикою викладання та вищої математики і створили кафедру інформатики та прикладної математики. На базі кафедри інформатики та прикладної математики, у 2006 році, було створено дві кафедри: власне інформатики та прикладної математики та кафедру інформаційно-комунікаційних технологій та методики викладання інформатики.</p>
            <p>Отже, враховуючи славну історію фізико-математичного факультету ми є першим факультетом, який розпочав підготовку фахівців у галузі математики, а згодом прикладної математики та інформатики. Всі ВНЗ Рівненщини, і не тільки, брали кадри для своїх кафедр: математичних, кафедр інформатики, інформаційних технологій та прикладної математики із випускників нашого факультету.</p>
            <p>Факультет математики та інформатики це - 4 випускові кафедри, 53 викладачі з яких: 4 доктори наук, професори та 40 кандидатів наук, з них 1 кандидат наук, професор, які ведуть науково-дослідну роботу в області комп’ютерного моделювання процесів і систем, розвиток інформаційних систем, вивчення чисельних методів розв’язування рівнянь математичної фізики та механіки, створення комп’ютерного програмного забезпечення.</p>
            <p>Регулярно викладачі кафедр публікують свої науково-методичні роботи в міжнародних і національних журналах, монографії, книги та навчальні посібники. Щорічно на факультеті проводиться міжнародна науково-практична конференція студентів та молодих науковців «Наука, освіта, суспільство очима молодих» та Всеукраїнська науково-практична конференція «Інформаційні технології в професійній діяльності» з дискусіями про поточні події в області прикладної математики та інформатики. Факультет неодноразово був організатором Всеукраїнських та міжнародних конференцій провідних науковців України та зарубіжжя з проблем прикладної математики та інформатики.</p>
            <p>Факультет навчає студентів за спеціальностями галузей знань (згідно новітніх класифікаторів):</p>
            <ul>
                <li>Освіта – «Середня освіта. Математика», «Середня освіта. Інформатика», «Професійна освіта (Комп’ютерні технології)», «Професійна освіта (Цифрові технології)»;</li>
                <li>Інформаційні технології – «Комп’ютерні науки», «Інженерія програмного забезпечення»;</li>
                <li>Математика та статистика – «Прикладна математика».</li>
            </ul>
            <p><b>Запрошую Вас приєднатися до студентської сім’ї факультету математики та інформатики!</b></p>
        </main>
        <aside>
            @*Site sidebar*@
            <div>
                <a>
                    <img src="~/img/normal.jpg" />
                    <span>Турнір з програмування</span>
                </a>
                <span class="text">
                    Обласний науковий ліцей в м. Рівне запрошує учнів, студентів, вчителів, викладачів та усіх охочих проявити свої вміння з алгоритмічного...
                </span>
                <span class="tag">Новини</span>
                <span class="date">10 вересня 2022</span>
            </div>
            <div>
                <a>
                    <img src="~/img/normal.jpg" />
                    <span>Турнір з програмування</span>
                </a>
                <span class="text">
                    Обласний науковий ліцей в м. Рівне запрошує учнів, студентів, вчителів, викладачів та усіх охочих проявити свої вміння з алгоритмічного...
                </span>
                <span class="tag">Новини</span>
                <span class="date">10 вересня 2022</span>
            </div>
            <div>
                <a>
                    <img src="~/img/normal.jpg" />
                    <span>Турнір з програмування</span>
                </a>
                <span class="text">
                    Обласний науковий ліцей в м. Рівне запрошує учнів, студентів, вчителів, викладачів та усіх охочих проявити свої вміння з алгоритмічного...
                </span>
                <span class="tag">Новини</span>
                <span class="date">10 вересня 2022</span>
            </div>
        </aside>
    </div>
    <footer> @*Site footer*@
        <img src="~/icons/rshu_logo.png" />
    </footer>
    <script src="~/js/dropdown.js"></script>
    <script src="~/js/out_of_screen.js"></script>

