@page
@model IndexModel

<main>
    @{
        ViewData[Defs.VIEWDATA_PAGENAME] = Hashtables.StaticPages[Defs.PAGE_STATIC_INDEX].Name;
        @Html.Raw(Hashtables.StaticPages[Defs.PAGE_STATIC_INDEX].Content);
    }
</main>