@page "{id?}"
@model FMI_web.Pages.MainpageModel

<main>
@{
    if (@Hashtables.MainPages.ContainsKey(Model.Id ?? "") && Hashtables.MainPages[Model.Id ?? ""][Defs.VALUE_TYPE] == Defs.TYPE_PAGE)
    {
        ViewData[Defs.VIEWDATA_PAGENAME] = Hashtables.MainPages[Model.Id ?? ""][Defs.VALUE_NAME];
        <h1>@Hashtables.MainPages[Model.Id ?? ""][Defs.VALUE_NAME]</h1>
        @Html.Raw(Hashtables.MainPages[Model.Id ?? ""][Defs.VALUE_CONTENT])
    }
    else
    {
        ViewData[Defs.VIEWDATA_PAGENAME] = "Помилка";
        <partial name="_Error" />
    }
}
</main>